img{
    display: block;
    margin: 15px auto;
}

.one{
    width: 295px;
}

.two{
    width: 1295px;
}

.three{
    width: 457px;
}

.four{
    width: 155px;
}

.five{
    width: 300px;
}

.six{
    width: 526px;
}

