header {
    width: 100%;
    nav {
        width: 45%;
        margin:0 auto;
    }
}
​
h2 {
    text-align: center;
    margin-bottom: 50px;
}
​
main {
    width: 40%;
    margin:0 auto;
    .main-div {
        display: flex;
        flex-wrap: wrap;
    }
    .tv-div {
        cursor: pointer;
        width: 31%;
        border: 1px solid rgb(202, 202, 202);
        border-radius: 5px;
        padding: 15px;
        margin: 5px;
    }
    h4 {
        padding-top: 10px;
        color: rgb(51, 126, 247);
    }
    
}
footer {
    background-color: rgb(33,37,41);
    padding: 25px 0;
    text-align: center;
    margin-top: 30px;
    small {
        color: white;
    }
}