header {
    width: 100%;
    nav {
        width: 45%;
        margin:0 auto;
    }
    .search-form{
        position: relative;
        div.search-result {
            position: absolute;
            width: 204px;
            background: #fff;
            box-shadow: 0px 0 20px 1px grey;
            border-radius: 4px;
            top: 38px;
        }
        div.search-result ul {
            padding-left: 0;
            margin-bottom: 0;
        }
        div.search-result li {
            list-style: none;
            padding: 5px;
            border-bottom: 1px solid lightgray;
        }
        div.search-result li:last-child {
            border-bottom: none;
        }
        div.search-result li:hover {
            background-color: #e7e6e6;
        }
        div.search-result a {
            text-decoration: none;
            color: black;
        }

    }
}
​
h2 {
    text-align: center;
    margin-bottom: 50px;
}

main {
    width: 40%;
    margin: 0 auto;
    .main-div{
        display: flex;
        flex-wrap: wrap;
    }
    .tv-div {
        cursor: pointer;
        width: 31%;
        border: 1px solid rgb(202, 202, 202);
        border-radius: 5px;
        padding: 15px;
        margin: 5px;
    }

    h4 {
        padding-top: 10px;
        color: rgb(51, 126, 247);
    }
}

footer{
    background-color: rgb(33, 37, 41);
    padding: 25px 0;
    text-align: center;
    margin-top: 30px;
    small{
        color: white;
    }

}