header {
  background-color: #212529;
  padding: 15px 0px;
  h1 a {
    text-decoration: none;
    color: white;
  }
  h1 a:hover {
    color: antiquewhite;
  }
  nav {
    width: 70%;
    margin: 0 auto;
  }
  .search-form {
    position: relative;
    .search-result {
      position: absolute;
      width: 100%;
      background: #fff;
      box-shadow: 0px 0 20px 1px grey;
      border-radius: 4px;
      top: 38px;
    }
    .search-result ul {
      padding-left: 0;
      margin-bottom: 0;
    }
    .search-result li {
      list-style: none;
      padding: 5px;
      border-bottom: 1px solid lightgray;
    }
    .search-result li:last-child {
      border-bottom: none;
    }
    .search-result li:hover {
      background-color: #e7e6e6;
    }
    .search-result a {
      text-decoration: none;
      color: black;
    }
    #search {
      border: none;
      border-radius: 5px;
      padding: 6px;
      outline: none;
      width: 100%;
    }
  }
}
main {
  width: 65%;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin: 40px 0px;
  }
  .main-container {
    text-align: -webkit-center;
    .seasons,
    .cast,
    .description {
      background-color: #212529;
      padding: 20px;
      border-radius: 5px;
      color: antiquewhite;
      margin-top: 20px;
    }
  }
  .imageDiv {
    width: 60%;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
  .info {
    width: 60%;
    ul {
      list-style: none;
      padding: 0px;
    }
  }
  .description {
    width: 60%;
    h4 {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 800px) {
  main {
    .flex-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .seasons {
        margin-top: 0px;
      }
    }
    .description {
      width: 100%;
    }
    .info {
      width: 30%;
      margin-left: 10%;
    }
  }
}

footer {
  background-color: rgb(33, 37, 41);
  padding: 25px 0;
  text-align: center;
  margin-top: 30px;
  small {
    color: white;
  }
}
